{% extends "app/user_layout.html" %}

{% block content %}
{%load static%}

<div class="container">
    <h2>Check Booking</h2>

    {% if user_bookings %}
        <table class="table">
        <thead>
            <tr>
                <th>Booking Resource</th>
                <th>Booking Date</th>
                <th>Booking Time</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in user_bookings %}
            <tr>
                <td>{{ booking.resource_fk_id }}</td>
                <td>{{ booking.date }}</td>
                <td>{{ booking.time_slot }}</td>
                <td>{{ booking.user }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </p>
    {% else %}
    <p>No bookings found.</p>
    {% endif %}
    <div class="input-group">
        <button class="btn btn-secondary" onclick="goBack()">Back</button>
    </div>
</div>

{% endblock %}