{% extends "app/user_layout.html" %}

{% block content %}
<div class="container row">
    <h2 class="incident_title">View Incident Report</h2>
    <div class="table-wrapper">
        <div class="incident-reports">
            {% for incident_report in incident_reports %}
            <div class="{% cycle 'left-block' 'right-block' %}">
                <h2>Incident Report</h2>

                <p>{{ incident_report.description }}</p>

                {% if incident_report.incident_image %}
                <img src="{{ incident_report.incident_image.url }}" alt="Incident Image">
                {% else %}
                <p>No image available</p>
                {% endif %}

                <h2>Location</h2>
                <p>{{ incident_report.location }}</p>

                <h2>Reported By</h2>
                <p>{{ incident_report.reported_by }}</p>

                <h2 id="date_incident">Date</h2>
                <p>{{ incident_report.incident_date }}</p>
            </div>
            {% if forloop.counter == 2 %}
        </div>
        <div id="hiddenReports" style="display: none;" class="incident-reports">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="button-container">
        <button onclick="showAllReports()" id="viewAllBtn" class="btn_common-button">View All Incident Reports</button>
    </div>
    <div class="button-container">
        <a href="{% url 'upload_incident' %}"  class="btn_common-button">Upload Incident</a>
    </div>  
</div>
{% endblock %}